.heading-name {
    display: inline-block;
    color: white;
    position: relative;
}

.heading-name::after {
    content: '';
    position: absolute;
    width: 30%;
    transform: scaleX(1);
    height: 5px;
    bottom: -15px;
    left: 0;
    background-color: #FEC865;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 10rem;
}


.about-me {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22677B;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

.about-me-text {
    padding-top: 15px;
    line-height: 1.6;
    opacity: 0.7;
    font-size: 15px;
}

.show-more-btn {
    width: 8rem;
    height: 2.3rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 1rem;
    animation-name: upDown;
    animation-duration: 3s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(-2px);
    }

    25% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(-2px);
    }

    75% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0px);
    }
}

.hidden-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    line-height: 1.6;
    opacity: 0.7;
    font-size: 15px
}

.lang {
    text-align: center;
    color: white;
}

.language-box {
    width: 100%;
}

.development-skills {
    width: 100%;
    margin-bottom: 2rem;
    padding: 4rem 3rem;
    background-color: #22677B;
    border-radius: 20px;
}

.explore-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.box-1 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: #22677B;
    padding: 2.5rem 1rem;
    border-radius: 17px;
    margin-bottom: 2rem;
}

.exp-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: white;
    opacity: 0.8;
}

.exp-para {
    list-style: 1.6;

}

@media screen and (max-width:320px) {
    .explore-box {
        flex-direction: column;
    }

    .box-1 {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .exp-para {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:321px) and (max-width:376px) {
    .explore-box {
        flex-direction: column;
    }

    .box-1 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .exp-para {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:377px) and (max-width:426px) {
    .explore-box {
        flex-direction: column;
    }

    .box-1 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .exp-para {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:427px) and (max-width:769px) {
    .explore-box {
        flex-direction: column;
    }

    .box-1 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .exp-para {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}