.programming-lang-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #22677B;
    padding: 20px;
}

.coding-lang {
    width: 50%;
}

.human-lang {
    width: 50%;
}


@media screen and (max-width:320px) {
    .programming-lang-box {
        flex-direction: column;
    }

    .coding-lang {
        width: 100%;
    }

    .human-lang {
        width: 100%;
    }
}

@media screen and (min-width:320px) and (max-width:376px) {
    .programming-lang-box {
        flex-direction: column;
    }

    .coding-lang {
        width: 100%;
    }

    .human-lang {
        width: 100%;
    }
}

@media screen and (min-width:377px) and (max-width:426px) {
    .programming-lang-box {
        flex-direction: column;
    }

    .coding-lang {
        width: 100%;
    }

    .human-lang {
        width: 100%;
    }
}

@media screen and (min-width:427px) and (max-width:769px) {
    .programming-lang-box {
        flex-direction: column;
    }

    .coding-lang {
        width: 100%;
    }

    .human-lang {
        width: 100%;
    }
}