.div-style {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  gap: 2rem;
  padding: 3rem 0;
}

.li-items {
  list-style: none;
}

.li-items img:hover {
  cursor: pointer;
  filter: drop-shadow(2px 4px 29px rgb(246, 246, 107));
}

/* ::-webkit-scrollbar {
    display: none;
  } */


/* width */
.div-style::-webkit-scrollbar {
  height: 6px;
  
}

/* Track */
.div-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 4px;
  
}

/* Handle */
.div-style::-webkit-scrollbar-thumb {
  background: #FFDB70;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
.div-style::-webkit-scrollbar-thumb:hover {
  background: #FFDB70;
}