.project-container {
    position: relative;
    width: 57rem;
    min-height: 44rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #21849E;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 20px;
    padding: 2rem 2rem;
}


.heading-name {
    display: inline-block;
    color: white;
    position: relative;
}

.heading-name::after {
    content: '';
    position: absolute;
    width: 30%;
    transform: scaleX(1);
    height: 5px;
    bottom: -15px;
    left: 0;
    background-color: #FEC865;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 10rem;
}

.project-data {
    width: 100%;
}

.ul-style {
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    color: white;
}

.project-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#pro-img:hover {
    filter: opacity(0.5);
}

#ac-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: #22687D;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    color: #F2D470;
    font-weight: 600;
}

#ac-btn:hover {
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: #214753;
}