.Contact-container {
    width: 57rem;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1.5rem;
    background-color: #21849E;
    border: 1px solid white;
    border-radius: 20px;
    padding: 2rem 2rem;
}