* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ' PoppinsTahoma', sans-serif;
}

body {
  background-color: #21CAF4;
  /* overflow-y: hidden; */
}

.App {
  text-align: center;
}