

.heading-name {
    display: inline-block;
    color: white;
    position: relative;
}

.heading-name::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(1);
    height: 5px;
    bottom: -15px;
    left: 0;
    background-color: #FEC865;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 10rem;
}