.heading-name {
    display: inline-block;
    color: white;
    position: relative;
}

.heading-name::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(1);
    height: 5px;
    bottom: -15px;
    left: 0;
    background-color: #FEC865;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 10rem;
}

.resume-sec {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background-color: #22677B;
    padding: 2rem 2rem;
    border-radius: 10px;
}

.resume-sec>h2 {
    color: white;
}

.resume-sec>a {
    color: #F2D470;
    opacity: 0.6;
    text-decoration: none;
    background-color: #114b5b;
    padding: 10px;
    border-radius: 5px;
}

.resume-sec>a:hover {
    color: rgb(40, 40, 227);
    opacity: 1;
    text-decoration: underline;
}